
.foto {
    width: 400px;
    height: 350px; 
    float: left;
    border-radius: 80px;
}

.main {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    margin-left: 20px;
    font-size: 12pt;
    padding-bottom: 20px;
    padding-left: 400px;
}

.myown {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 12pt; 
    padding-top: 40px;
    padding-left: 40px;
    line-height: 20px;
}

.education {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 12pt; 
    padding-top: 10px;
    padding-left: 40px;
}

.skill {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 12pt; 
    padding-top: 10px;
    padding-left: 40px;
}
